In [26]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [28]:
# URL of the page
url = 'https://www.futbolfantasy.com/analytics/laliga-fantasy/puntos'

# Send a GET request
response = requests.get(url)
response.raise_for_status()  # Check for a successful request

# Parse the HTML
soup = BeautifulSoup(response.text, 'html.parser')

# Find all player rows starting with the class 'elemento elemento_jugador'
players = soup.find_all('div', class_=lambda value: value and value.startswith('elemento elemento_jugador'))

data = []
for player in players:
    
    player_name = player.find('span', class_='d-none d-lg-block').get_text(strip=True)
    team_name = player.find('span', class_='mb-auto').get_text(strip=True)
    points = player.find('span', class_='m-auto columna_puntos columna_puntostemporada').get_text(strip=True)

    last3 = player.find_all('span', class_= lambda value: value and value.startswith('racha-box'))
    try:
        match_tmin1 = last3[0].get_text(strip=True)
    except IndexError:
        match_tmin1 = None
    try:
        match_tmin2 = last3[1].get_text(strip=True)
    except IndexError:
        match_tmin2 = None
    try:
        match_tmin3 = last3[2].get_text(strip=True)
    except IndexError:
        match_tmin3 = None

    if match_tmin1 == '-':
        match_tmin1 = None
    
    if match_tmin2 == '-':
        match_tmin2 = None
    
    if match_tmin3 == '-':
        match_tmin3 = None

    data.append({
        'Player Name': player_name,
        'Team Name': team_name,
        'Total Points': int(points),
        'Points_T-1':match_tmin1,
        'Points_T-2':match_tmin2,
        'Points_T-3':match_tmin3
    })

In [30]:
df = pd.DataFrame(data)

In [31]:
df[df['Team Name'] == 'Rayo'].sort_values(by='Total Points', ascending=False)

,Player Name,Team Name,Total Points,Points_T-1,Points_T-2,Points_T-3
390,Jorge de Frutos,Rayo,25,9,4,12
381,Abdul Mumin,Rayo,22,2,9,11
373,Óscar Valentín,Rayo,16,3,6,7
388,Florian Lejeune,Rayo,14,2,8,4
377,Unai López,Rayo,14,10,2,2
391,Dani Cárdenas,Rayo,14,3,8,3
389,Sergio Camello,Rayo,13,3,2,8
376,Pathé Ciss,Rayo,12,-1,5,8
384,Randy Nteka,Rayo,10,1,5,4
387,Alfonso Espino,Rayo,10,1,5,4
372,Álvaro García,Rayo,8,6,2,None
374,Isi Palazón,Rayo,8,0,2,6
400,Adrián Embarba,Rayo,8,4,3,1
392,Andrei Ratiu,Rayo,6,None,None,6
375,Iván Balliu,Rayo,6,-1,6,1
371,Óscar Trejo,Rayo,5,None,5,None
399,Gerard Gumbau,Rayo,5,2,None,3
380,Pep Chavarría,Rayo,4,2,None,2
401,Pedro Díaz,Rayo,2,None,2,None
386,Álvaro Expósito,Rayo,0,None,None,None
385,Aridane Hernández,Rayo,0,None,None,None
378,Diego Méndez,Rayo,0,None,None,None
379,Marco Hernández,Rayo,0,None,None,None
382,Raúl De Tomás,Rayo,0,None,None,None
383,Bebé,Rayo,0,None,None,None
395,Etienne Eto'o,Rayo,0,None,None,None
394,Jonathan Montiel,Rayo,0,None,None,None
393,Pelayo Fernández,Rayo,0,None,None,None
396,Sergio José Lozano,Rayo,0,None,None,None
398,Marco de la Sías,Rayo,0,None,None,None
397,Adrián Molina,Rayo,0,None,None,None
402,Augusto Batalla,Rayo,0,None,None,None
403,James Rodríguez,Rayo,0,None,None,None

In [32]:
df['Team Name'].unique()

array(['Alavés', 'Athletic', 'Atlético', 'Barcelona', 'Betis', 'Celta',
       'Getafe', 'Mallorca', 'Osasuna', 'Rayo', 'Real Madrid',
       'Real Sociedad', 'Sevilla', 'Valencia', 'Valladolid', 'Villarreal',
       'Villarreal B', 'Las Palmas', 'Girona', 'Leganés', 'Espanyol'],
      dtype=object)

In [39]:
df[df['Team Name']=='Villarreal B']

,Player Name,Team Name,Total Points,Points_T-1,Points_T-2,Points_T-3
637,Víctor Moreno,Villarreal B,0,None,None,None
639,Pau Cabanes,Villarreal B,0,None,None,None
643,Pau Navarro,Villarreal B,0,None,None,None